In [11]:
import pandas as pd

In [12]:
df1 = pd.read_csv('./data/CI_UTILIIZA_MOBILE_APLCTN_USR_CHARTR_INFO_202305.csv')

In [13]:
df2 = pd.read_csv('./data/CI_UTILIIZA_MOBILE_APLCTN_USR_CHARTR_INFO_202311.csv')

In [14]:
df1 = df1.drop('RESPOND_ID',axis = 1)

In [15]:
df2 = df2.drop('RESPOND_ID',axis = 1)

In [16]:
df = pd.concat([df1,df2])

In [17]:
df.reset_index(inplace=True)

In [18]:
df.drop('index',axis=1,inplace=True)

In [19]:
df

,EXAMIN_BEGIN_DE,UTILIIZA_MOBILE_APLCTN_MUSIC_PBLPRFR_K_IDOL_AT,UTILIIZA_MOBILE_APLCTN_GAME_AT,UTILIIZA_MOBILE_APLCTN_PHT_AT,UTILIIZA_MOBILE_APLCTN_BRDCST_VIDO_AT,UTILIIZA_MOBILE_APLCTN_CMC_WEBTOON_AT,UTILIIZA_MOBILE_APLCTN_SEARCH_PORTAL_AT,UTILIIZA_MOBILE_APLCTN_FNC_AT,UTILIIZA_MOBILE_APLCTN_ADVANTK_AT,UTILIIZA_MOBILE_APLCTN_TOUR_AT,...,UTILIIZA_MOBILE_APLCTN_CLEAN_DCCS_AT,UTILIIZA_MOBILE_APLCTN_ESTT_AT,UTILIIZA_MOBILE_APLCTN_HSPTL_PHARM_MEDIC_SEARCH_AT,UTILIIZA_MOBILE_APLCTN_USEGT_AT,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,MRRG_AT_NM,HSHLD_INCOME_DGREE_NM,OCCP_NM,ANSWRR_OC_AREA_NM
0,20230501,N,N,Y,Y,N,N,Y,Y,N,...,N,Y,N,N,F,30대,미혼 / 비혼,600만원,사무직,서울
1,20230501,N,Y,Y,Y,N,N,Y,Y,Y,...,N,N,N,N,M,40대,기혼,600만원,사무직,경기
2,20230501,N,Y,Y,Y,Y,Y,Y,N,N,...,N,N,N,N,F,20대,미혼 / 비혼,200만원,대학생,인천
3,20230501,Y,N,N,Y,N,Y,Y,N,N,...,N,N,N,N,M,50대이상,"기타(이혼, 사별 등)",100만원,무직,경기
4,20230501,N,Y,Y,Y,N,Y,Y,N,Y,...,N,N,N,Y,M,30대,미혼 / 비혼,400만원,사무직,경기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68436,20231101,N,N,N,N,N,N,N,N,N,...,N,N,N,N,F,30대,"기타(이혼, 사별 등)",500만원,기술직,충남
68437,20231101,N,N,N,N,N,N,N,N,N,...,N,N,N,N,F,20대,미혼 / 비혼,100만원,"자유직 (예술가, 종교인 등)",서울
68438,20231101,N,N,Y,Y,N,Y,Y,N,N,...,N,N,N,Y,F,60대 이상,기혼,300만원,전업주부,경기
68439,20231101,N,N,N,N,N,N,N,N,N,...,N,N,N,N,M,30대,미혼 / 비혼,300만원,사무직,경남
68440,20231101,N,N,Y,Y,N,N,Y,N,N,...,N,Y,N,Y,M,30대,기혼,600만원,사무직,경기

In [20]:
df.drop('EXAMIN_BEGIN_DE',axis=1,inplace=True)

In [21]:
df.drop('OCCP_NM',axis=1,inplace=True)

In [22]:
df.columns

Index(['UTILIIZA_MOBILE_APLCTN_MUSIC_PBLPRFR_K_IDOL_AT',
       'UTILIIZA_MOBILE_APLCTN_GAME_AT', 'UTILIIZA_MOBILE_APLCTN_PHT_AT',
       'UTILIIZA_MOBILE_APLCTN_BRDCST_VIDO_AT',
       'UTILIIZA_MOBILE_APLCTN_CMC_WEBTOON_AT',
       'UTILIIZA_MOBILE_APLCTN_SEARCH_PORTAL_AT',
       'UTILIIZA_MOBILE_APLCTN_FNC_AT', 'UTILIIZA_MOBILE_APLCTN_ADVANTK_AT',
       'UTILIIZA_MOBILE_APLCTN_TOUR_AT',
       'UTILIIZA_MOBILE_APLCTN_FOOD_ORDER_AT',
       'UTILIIZA_MOBILE_APLCTN_GBRSTRNT_RECOMEND_RESVE_AT',
       'UTILIIZA_MOBILE_APLCTN_SHOPNG_AT', 'UTILIIZA_MOBILE_APLCTN_WRKOT_AT',
       'UTILIIZA_MOBILE_APLCTN_EWALLET_AT',
       'UTILIIZA_MOBILE_APLCTN_CLEAN_DCCS_AT',
       'UTILIIZA_MOBILE_APLCTN_ESTT_AT',
       'UTILIIZA_MOBILE_APLCTN_HSPTL_PHARM_MEDIC_SEARCH_AT',
       'UTILIIZA_MOBILE_APLCTN_USEGT_AT', 'SEXDSTN_FLAG_CD', 'AGRDE_FLAG_NM',
       'MRRG_AT_NM', 'HSHLD_INCOME_DGREE_NM', 'ANSWRR_OC_AREA_NM'],
      dtype='object')

In [23]:
df.columns = ['K-POP_아이돌', '게임', '사진_촬영', '방송_영상','웹툰','검색_포털','금융','예매','여행','음식_주문','맛집_추천_예약','쇼핑','헬스','전자지갑','청소_가사노동','부동산','병원_약국_의약품_검색','중고거래','성별','나이','결혼','월_소득','거주지역']

In [24]:
df.head(1)

,K-POP_아이돌,게임,사진_촬영,방송_영상,웹툰,검색_포털,금융,예매,여행,음식_주문,...,전자지갑,청소_가사노동,부동산,병원_약국_의약품_검색,중고거래,성별,나이,결혼,월_소득,거주지역
0,N,N,Y,Y,N,N,Y,Y,N,Y,...,Y,N,Y,N,N,F,30대,미혼 / 비혼,600만원,서울

In [25]:
df.isna().sum()

K-POP_아이돌       0
게임              0
사진_촬영           0
방송_영상           0
웹툰              0
검색_포털           0
금융              0
예매              0
여행              0
음식_주문           0
맛집_추천_예약        0
쇼핑              0
헬스              0
전자지갑            0
청소_가사노동         0
부동산             0
병원_약국_의약품_검색    0
중고거래            0
성별              0
나이              0
결혼              0
월_소득            0
거주지역            0
dtype: int64

In [26]:
df['나이'].unique()

array(['30대', '40대', '20대', '50대이상', '10대', '60대 이상', '50대'], dtype=object)

In [27]:
df.loc[df['나이'] == '50대이상', '나이'] = '50대'

In [28]:
df['나이'].unique()

array(['30대', '40대', '20대', '50대', '10대', '60대 이상'], dtype=object)

In [29]:
df.loc[df['나이'] == '60대 이상', '나이'] = '60대'

In [30]:
df['나이'].unique()

array(['30대', '40대', '20대', '50대', '10대', '60대'], dtype=object)

In [31]:
df['나이'] = df['나이'].str.replace('대', '')

In [32]:
df['나이'].unique()

array(['30', '40', '20', '50', '10', '60'], dtype=object)

In [33]:
df['나이']= df['나이'].astype(int)

In [34]:
df['나이'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 68441 entries, 0 to 68440
Series name: 나이
Non-Null Count  Dtype
--------------  -----
68441 non-null  int32
dtypes: int32(1)
memory usage: 267.5 KB

In [35]:
df[df['월_소득'] == '모름']

,K-POP_아이돌,게임,사진_촬영,방송_영상,웹툰,검색_포털,금융,예매,여행,음식_주문,...,전자지갑,청소_가사노동,부동산,병원_약국_의약품_검색,중고거래,성별,나이,결혼,월_소득,거주지역
13,N,N,Y,Y,Y,Y,Y,Y,Y,Y,...,N,N,N,Y,Y,F,30,미혼 / 비혼,모름,인천
23,Y,Y,Y,Y,Y,Y,Y,N,Y,Y,...,Y,N,N,N,N,F,20,미혼 / 비혼,모름,충북
24,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,N,N,N,N,F,20,미혼 / 비혼,모름,경북
100,Y,Y,N,Y,N,Y,Y,Y,N,Y,...,N,N,N,N,Y,F,20,미혼 / 비혼,모름,충남
121,Y,N,Y,Y,Y,Y,Y,Y,Y,N,...,N,N,N,N,N,F,30,미혼 / 비혼,모름,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68409,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,N,Y,N,Y,F,20,미혼 / 비혼,모름,경기
68411,N,Y,N,Y,N,N,N,N,N,N,...,N,N,N,N,N,M,20,미혼 / 비혼,모름,경기
68419,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,M,10,미혼 / 비혼,모름,광주
68422,Y,Y,Y,N,N,N,Y,Y,N,Y,...,Y,N,N,N,Y,F,20,기혼,모름,대전
68433,Y,Y,Y,Y,Y,N,Y,Y,N,Y,...,N,N,N,N,Y,M,20,미혼 / 비혼,모름,경기

In [36]:
import numpy as np

In [37]:
df.replace({'월_소득' : '모름'}, np.nan,inplace=True)

In [38]:
df.isna().sum()

K-POP_아이돌          0
게임                 0
사진_촬영              0
방송_영상              0
웹툰                 0
검색_포털              0
금융                 0
예매                 0
여행                 0
음식_주문              0
맛집_추천_예약           0
쇼핑                 0
헬스                 0
전자지갑               0
청소_가사노동            0
부동산                0
병원_약국_의약품_검색       0
중고거래               0
성별                 0
나이                 0
결혼                 0
월_소득            4417
거주지역               0
dtype: int64

In [39]:
df.dropna(inplace=True)

In [40]:
df.isna().sum()

K-POP_아이돌       0
게임              0
사진_촬영           0
방송_영상           0
웹툰              0
검색_포털           0
금융              0
예매              0
여행              0
음식_주문           0
맛집_추천_예약        0
쇼핑              0
헬스              0
전자지갑            0
청소_가사노동         0
부동산             0
병원_약국_의약품_검색    0
중고거래            0
성별              0
나이              0
결혼              0
월_소득            0
거주지역            0
dtype: int64

In [41]:
df.replace({'월_소득' : '100만원 미만'}, '100',inplace=True)

In [42]:
df.replace({'월_소득' : '1,000만원 이상'}, '1000만원',inplace=True)

In [43]:
df['월_소득'].unique()

array(['600만원', '200만원', '100만원', '400만원', '500만원', '1000만원', '900만원',
       '700만원', '800만원', '100', '1,000만원', '300만원'], dtype=object)

In [44]:
df['월_소득'] = df['월_소득'].str.replace(',', '')

In [45]:
df['월_소득'] = df['월_소득'].str.replace('만원','')

In [46]:
df['월_소득'] = df['월_소득'].astype(int)

In [47]:
df['월_소득'].unique()

array([ 600,  200,  100,  400,  500, 1000,  900,  700,  800,  300])

In [48]:
df['결혼'].unique()

array(['미혼 / 비혼', '기혼', '기타(이혼, 사별 등)'], dtype=object)

In [49]:
df['거주지역'].unique()

array(['서울', '경기', '인천', '충남', '경남', '부산', '대구', '울산', '광주', '경북', '전북',
       '세종', '제주', '강원', '대전', '충북', '전남'], dtype=object)

In [50]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [51]:
df.columns

Index(['K-POP_아이돌', '게임', '사진_촬영', '방송_영상', '웹툰', '검색_포털', '금융', '예매', '여행',
       '음식_주문', '맛집_추천_예약', '쇼핑', '헬스', '전자지갑', '청소_가사노동', '부동산',
       '병원_약국_의약품_검색', '중고거래', '성별', '나이', '결혼', '월_소득', '거주지역'],
      dtype='object')

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
X = df.loc[ : , '성별':'거주지역']

In [54]:
y = df.loc[ : , : '중고거래']

In [55]:
def label_encode(y):
    y_encoder = LabelEncoder()
    y_encoded = y.copy()
    for col in y.columns:
        y_encoded[col] = y_encoder.fit_transform(y[col])
    return y_encoded

y = label_encode(y)

In [56]:
y

,K-POP_아이돌,게임,사진_촬영,방송_영상,웹툰,검색_포털,금융,예매,여행,음식_주문,맛집_추천_예약,쇼핑,헬스,전자지갑,청소_가사노동,부동산,병원_약국_의약품_검색,중고거래
0,0,0,1,1,0,0,1,1,0,1,0,0,0,1,0,1,0,0
1,0,1,1,1,0,0,1,1,1,1,1,1,1,1,0,0,0,0
2,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,1,1,0,0,0,0,1,1,1,0,0,0,0
4,0,1,1,1,0,1,1,0,1,1,0,1,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68436,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
68437,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
68438,0,0,1,1,0,1,1,0,0,0,1,0,0,1,0,0,0,1
68439,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
68440,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1

In [57]:
X

      성별  나이            결혼  월_소득 거주지역
0      F  30       미혼 / 비혼   600   서울
1      M  40            기혼   600   경기
2      F  20       미혼 / 비혼   200   인천
3      M  50  기타(이혼, 사별 등)   100   경기
4      M  30       미혼 / 비혼   400   경기
...   ..  ..           ...   ...  ...
68436  F  30  기타(이혼, 사별 등)   500   충남
68437  F  20       미혼 / 비혼   100   서울
68438  F  60            기혼   300   경기
68439  M  30       미혼 / 비혼   300   경남
68440  M  30            기혼   600   경기

[64024 rows x 5 columns]

In [58]:
X['거주지역'].nunique()

17

In [59]:
sorted(X['성별'].unique())

['F', 'M']

In [60]:
X_label_encoder= LabelEncoder()
X['성별'] = X_label_encoder.fit_transform(X['성별'])

In [61]:
onehot_encoder = OneHotEncoder()

In [62]:
ct = ColumnTransformer(transformers=[ ('onehot', onehot_encoder, ['결혼', '거주지역'] ) ], remainder='passthrough')

In [63]:
X_encoded = ct.fit_transform(X)

In [64]:
X_encoded

<64024x23 sparse matrix of type '<class 'numpy.float64'>'
	with 291327 stored elements in Compressed Sparse Row format>

In [65]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64024 entries, 0 to 68440
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   K-POP_아이돌     64024 non-null  int32
 1   게임            64024 non-null  int32
 2   사진_촬영         64024 non-null  int32
 3   방송_영상         64024 non-null  int32
 4   웹툰            64024 non-null  int32
 5   검색_포털         64024 non-null  int32
 6   금융            64024 non-null  int32
 7   예매            64024 non-null  int32
 8   여행            64024 non-null  int32
 9   음식_주문         64024 non-null  int32
 10  맛집_추천_예약      64024 non-null  int32
 11  쇼핑            64024 non-null  int32
 12  헬스            64024 non-null  int32
 13  전자지갑          64024 non-null  int32
 14  청소_가사노동       64024 non-null  int32
 15  부동산           64024 non-null  int32
 16  병원_약국_의약품_검색  64024 non-null  int32
 17  중고거래          64024 non-null  int32
dtypes: int32(18)
memory usage: 4.9 MB

In [66]:
y['K-POP_아이돌'].value_counts()

K-POP_아이돌
0    48551
1    15473
Name: count, dtype: int64

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.25, random_state=17)

In [68]:
X_train

<48018x23 sparse matrix of type '<class 'numpy.float64'>'
	with 218465 stored elements in Compressed Sparse Row format>

In [69]:
y_train.shape

(48018, 18)

In [70]:
from sklearn.ensemble import RandomForestClassifier

In [71]:
model = RandomForestClassifier(class_weight=None,random_state=17)

In [72]:
model.fit(X_train,y_train)

RandomForestClassifier(random_state=17)

In [73]:
y_pred = model.predict(X_test)

In [86]:
from sklearn.metrics import hamming_loss, f1_score, jaccard_score, accuracy_score

In [88]:
hamming_loss_score = hamming_loss(y_test, y_pred)

In [89]:
hamming_loss_score

0.2923868826967665

In [91]:
micro_f1_score = f1_score(y_test, y_pred, average='micro')

In [92]:
micro_f1_score

0.4560417917772483

In [94]:
macro_f1_score = f1_score(y_test, y_pred, average='macro')

In [95]:
macro_f1_score

0.2556794540289955

In [96]:
jaccard_score_value = jaccard_score(y_test, y_pred, average='samples')

C:\Users\406\.conda\envs\st_310\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Jaccard is ill-defined and being set to 0.0 in samples with no true or predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [97]:
jaccard_score_value

0.24559394094242237

In [98]:
accuracy = accuracy_score(y_test, y_pred)

In [99]:
accuracy

0.045170561039610146

In [100]:
# Hamming Loss: 0부터 1까지의 범위를 가집니다. 0에 가까울수록 모델의 예측이 완벽합니다.
# Micro F1 Score: 0부터 1까지의 범위를 가집니다. 1에 가까울수록 모델의 예측이 완벽합니다.
# Macro F1 Score: 0부터 1까지의 범위를 가집니다. 1에 가까울수록 모델의 예측이 완벽합니다.
# Jaccard Similarity Score: 0부터 1까지의 범위를 가집니다. 1에 가까울수록 모델의 예측이 완벽합니다.
# Accuracy Score: 0부터 1까지의 범위를 가집니다. 1에 가까울수록 모델의 예측이 완벽합니다.

In [79]:
import joblib

In [80]:
joblib.dump(model,'model.pkl')

['model.pkl']

In [81]:
joblib.dump(ct,'ct.pkl')

['ct.pkl']

In [82]:
joblib.dump(X_label_encoder,'X_label_encoder.pkl')

['X_label_encoder.pkl']