In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('./data/CI_UTILIIZA_MOBILE_APLCTN_USR_CHARTR_INFO_202305.csv')

In [3]:
df2 = pd.read_csv('./data/CI_UTILIIZA_MOBILE_APLCTN_USR_CHARTR_INFO_202311.csv')

In [4]:
df1 = df1.drop('RESPOND_ID',axis = 1)

In [5]:
df2 = df2.drop('RESPOND_ID',axis = 1)

In [6]:
df = pd.concat([df1,df2])

In [7]:
df.reset_index(inplace=True)

In [8]:
df.drop('index',axis=1,inplace=True)

In [9]:
df

,EXAMIN_BEGIN_DE,UTILIIZA_MOBILE_APLCTN_MUSIC_PBLPRFR_K_IDOL_AT,UTILIIZA_MOBILE_APLCTN_GAME_AT,UTILIIZA_MOBILE_APLCTN_PHT_AT,UTILIIZA_MOBILE_APLCTN_BRDCST_VIDO_AT,UTILIIZA_MOBILE_APLCTN_CMC_WEBTOON_AT,UTILIIZA_MOBILE_APLCTN_SEARCH_PORTAL_AT,UTILIIZA_MOBILE_APLCTN_FNC_AT,UTILIIZA_MOBILE_APLCTN_ADVANTK_AT,UTILIIZA_MOBILE_APLCTN_TOUR_AT,...,UTILIIZA_MOBILE_APLCTN_CLEAN_DCCS_AT,UTILIIZA_MOBILE_APLCTN_ESTT_AT,UTILIIZA_MOBILE_APLCTN_HSPTL_PHARM_MEDIC_SEARCH_AT,UTILIIZA_MOBILE_APLCTN_USEGT_AT,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,MRRG_AT_NM,HSHLD_INCOME_DGREE_NM,OCCP_NM,ANSWRR_OC_AREA_NM
0,20230501,N,N,Y,Y,N,N,Y,Y,N,...,N,Y,N,N,F,30대,미혼 / 비혼,600만원,사무직,서울
1,20230501,N,Y,Y,Y,N,N,Y,Y,Y,...,N,N,N,N,M,40대,기혼,600만원,사무직,경기
2,20230501,N,Y,Y,Y,Y,Y,Y,N,N,...,N,N,N,N,F,20대,미혼 / 비혼,200만원,대학생,인천
3,20230501,Y,N,N,Y,N,Y,Y,N,N,...,N,N,N,N,M,50대이상,"기타(이혼, 사별 등)",100만원,무직,경기
4,20230501,N,Y,Y,Y,N,Y,Y,N,Y,...,N,N,N,Y,M,30대,미혼 / 비혼,400만원,사무직,경기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68436,20231101,N,N,N,N,N,N,N,N,N,...,N,N,N,N,F,30대,"기타(이혼, 사별 등)",500만원,기술직,충남
68437,20231101,N,N,N,N,N,N,N,N,N,...,N,N,N,N,F,20대,미혼 / 비혼,100만원,"자유직 (예술가, 종교인 등)",서울
68438,20231101,N,N,Y,Y,N,Y,Y,N,N,...,N,N,N,Y,F,60대 이상,기혼,300만원,전업주부,경기
68439,20231101,N,N,N,N,N,N,N,N,N,...,N,N,N,N,M,30대,미혼 / 비혼,300만원,사무직,경남
68440,20231101,N,N,Y,Y,N,N,Y,N,N,...,N,Y,N,Y,M,30대,기혼,600만원,사무직,경기

In [10]:
df.drop('EXAMIN_BEGIN_DE',axis=1,inplace=True)

In [11]:
df.drop('OCCP_NM',axis=1,inplace=True)

In [12]:
df.columns

Index(['UTILIIZA_MOBILE_APLCTN_MUSIC_PBLPRFR_K_IDOL_AT',
       'UTILIIZA_MOBILE_APLCTN_GAME_AT', 'UTILIIZA_MOBILE_APLCTN_PHT_AT',
       'UTILIIZA_MOBILE_APLCTN_BRDCST_VIDO_AT',
       'UTILIIZA_MOBILE_APLCTN_CMC_WEBTOON_AT',
       'UTILIIZA_MOBILE_APLCTN_SEARCH_PORTAL_AT',
       'UTILIIZA_MOBILE_APLCTN_FNC_AT', 'UTILIIZA_MOBILE_APLCTN_ADVANTK_AT',
       'UTILIIZA_MOBILE_APLCTN_TOUR_AT',
       'UTILIIZA_MOBILE_APLCTN_FOOD_ORDER_AT',
       'UTILIIZA_MOBILE_APLCTN_GBRSTRNT_RECOMEND_RESVE_AT',
       'UTILIIZA_MOBILE_APLCTN_SHOPNG_AT', 'UTILIIZA_MOBILE_APLCTN_WRKOT_AT',
       'UTILIIZA_MOBILE_APLCTN_EWALLET_AT',
       'UTILIIZA_MOBILE_APLCTN_CLEAN_DCCS_AT',
       'UTILIIZA_MOBILE_APLCTN_ESTT_AT',
       'UTILIIZA_MOBILE_APLCTN_HSPTL_PHARM_MEDIC_SEARCH_AT',
       'UTILIIZA_MOBILE_APLCTN_USEGT_AT', 'SEXDSTN_FLAG_CD', 'AGRDE_FLAG_NM',
       'MRRG_AT_NM', 'HSHLD_INCOME_DGREE_NM', 'ANSWRR_OC_AREA_NM'],
      dtype='object')

In [13]:
df.columns = ['K-POP_아이돌', '게임', '사진_촬영', '방송_영상','웹툰','검색_포털','금융','예매','여행','음식_주문','맛집_추천_예약','쇼핑','헬스','전자지갑','청소_가사노동','부동산','병원_약국_의약품_검색','중고거래','성별','나이','결혼','월_소득','거주지역']

In [14]:
df.head(1)

,K-POP_아이돌,게임,사진_촬영,방송_영상,웹툰,검색_포털,금융,예매,여행,음식_주문,...,전자지갑,청소_가사노동,부동산,병원_약국_의약품_검색,중고거래,성별,나이,결혼,월_소득,거주지역
0,N,N,Y,Y,N,N,Y,Y,N,Y,...,Y,N,Y,N,N,F,30대,미혼 / 비혼,600만원,서울

In [15]:
df.isna().sum()

K-POP_아이돌       0
게임              0
사진_촬영           0
방송_영상           0
웹툰              0
검색_포털           0
금융              0
예매              0
여행              0
음식_주문           0
맛집_추천_예약        0
쇼핑              0
헬스              0
전자지갑            0
청소_가사노동         0
부동산             0
병원_약국_의약품_검색    0
중고거래            0
성별              0
나이              0
결혼              0
월_소득            0
거주지역            0
dtype: int64

In [16]:
df['나이'].unique()

array(['30대', '40대', '20대', '50대이상', '10대', '60대 이상', '50대'], dtype=object)

In [17]:
df.loc[df['나이'] == '50대이상', '나이'] = '50대'

In [18]:
df['나이'].unique()

array(['30대', '40대', '20대', '50대', '10대', '60대 이상'], dtype=object)

In [19]:
df.loc[df['나이'] == '60대 이상', '나이'] = '60대'

In [20]:
df['나이'].unique()

array(['30대', '40대', '20대', '50대', '10대', '60대'], dtype=object)

In [21]:
df['나이'] = df['나이'].str.replace('대', '')

In [22]:
df['나이'].unique()

array(['30', '40', '20', '50', '10', '60'], dtype=object)

In [23]:
df['나이']= df['나이'].astype(int)

In [24]:
df['나이'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 68441 entries, 0 to 68440
Series name: 나이
Non-Null Count  Dtype
--------------  -----
68441 non-null  int32
dtypes: int32(1)
memory usage: 267.5 KB

In [25]:
df[df['월_소득'] == '모름']

,K-POP_아이돌,게임,사진_촬영,방송_영상,웹툰,검색_포털,금융,예매,여행,음식_주문,...,전자지갑,청소_가사노동,부동산,병원_약국_의약품_검색,중고거래,성별,나이,결혼,월_소득,거주지역
13,N,N,Y,Y,Y,Y,Y,Y,Y,Y,...,N,N,N,Y,Y,F,30,미혼 / 비혼,모름,인천
23,Y,Y,Y,Y,Y,Y,Y,N,Y,Y,...,Y,N,N,N,N,F,20,미혼 / 비혼,모름,충북
24,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,N,N,N,N,F,20,미혼 / 비혼,모름,경북
100,Y,Y,N,Y,N,Y,Y,Y,N,Y,...,N,N,N,N,Y,F,20,미혼 / 비혼,모름,충남
121,Y,N,Y,Y,Y,Y,Y,Y,Y,N,...,N,N,N,N,N,F,30,미혼 / 비혼,모름,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68409,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,N,Y,N,Y,F,20,미혼 / 비혼,모름,경기
68411,N,Y,N,Y,N,N,N,N,N,N,...,N,N,N,N,N,M,20,미혼 / 비혼,모름,경기
68419,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,M,10,미혼 / 비혼,모름,광주
68422,Y,Y,Y,N,N,N,Y,Y,N,Y,...,Y,N,N,N,Y,F,20,기혼,모름,대전
68433,Y,Y,Y,Y,Y,N,Y,Y,N,Y,...,N,N,N,N,Y,M,20,미혼 / 비혼,모름,경기

In [26]:
import numpy as np

In [27]:
df.replace({'월_소득' : '모름'}, np.nan,inplace=True)

In [28]:
df.isna().sum()

K-POP_아이돌          0
게임                 0
사진_촬영              0
방송_영상              0
웹툰                 0
검색_포털              0
금융                 0
예매                 0
여행                 0
음식_주문              0
맛집_추천_예약           0
쇼핑                 0
헬스                 0
전자지갑               0
청소_가사노동            0
부동산                0
병원_약국_의약품_검색       0
중고거래               0
성별                 0
나이                 0
결혼                 0
월_소득            4417
거주지역               0
dtype: int64

In [29]:
df.dropna(inplace=True)

In [30]:
df.isna().sum()

K-POP_아이돌       0
게임              0
사진_촬영           0
방송_영상           0
웹툰              0
검색_포털           0
금융              0
예매              0
여행              0
음식_주문           0
맛집_추천_예약        0
쇼핑              0
헬스              0
전자지갑            0
청소_가사노동         0
부동산             0
병원_약국_의약품_검색    0
중고거래            0
성별              0
나이              0
결혼              0
월_소득            0
거주지역            0
dtype: int64

In [31]:
df.replace({'월_소득' : '100만원 미만'}, '100',inplace=True)

In [32]:
df.replace({'월_소득' : '1,000만원 이상'}, '1000만원',inplace=True)

In [33]:
df['월_소득'].unique()

array(['600만원', '200만원', '100만원', '400만원', '500만원', '1000만원', '900만원',
       '700만원', '800만원', '100', '1,000만원', '300만원'], dtype=object)

In [34]:
df['월_소득'] = df['월_소득'].str.replace(',', '')

In [35]:
df['월_소득'] = df['월_소득'].str.replace('만원','')

In [36]:
df['월_소득'] = df['월_소득'].astype(int)

In [37]:
df['월_소득'].unique()

array([ 600,  200,  100,  400,  500, 1000,  900,  700,  800,  300])

In [38]:
df['결혼'].unique()

array(['미혼 / 비혼', '기혼', '기타(이혼, 사별 등)'], dtype=object)

In [39]:
df['거주지역'].unique()

array(['서울', '경기', '인천', '충남', '경남', '부산', '대구', '울산', '광주', '경북', '전북',
       '세종', '제주', '강원', '대전', '충북', '전남'], dtype=object)

In [40]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [41]:
df.columns

Index(['K-POP_아이돌', '게임', '사진_촬영', '방송_영상', '웹툰', '검색_포털', '금융', '예매', '여행',
       '음식_주문', '맛집_추천_예약', '쇼핑', '헬스', '전자지갑', '청소_가사노동', '부동산',
       '병원_약국_의약품_검색', '중고거래', '성별', '나이', '결혼', '월_소득', '거주지역'],
      dtype='object')

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X = df.loc[ : , '성별':'거주지역']

In [45]:
y = df.loc[ : , : '중고거래']

In [46]:
def convert_binary_labels(y, columns):
    y = y.copy()
    for col in columns:
        y[col] = y[col].map({'N': 0, 'Y': 1})
    return y

In [47]:
y = convert_binary_labels(y, ['K-POP_아이돌', '게임', '사진_촬영', '방송_영상', '웹툰', '검색_포털', '금융', '예매', '여행',
       '음식_주문', '맛집_추천_예약', '쇼핑', '헬스', '전자지갑', '청소_가사노동', '부동산',
       '병원_약국_의약품_검색', '중고거래'])

In [48]:
y

,K-POP_아이돌,게임,사진_촬영,방송_영상,웹툰,검색_포털,금융,예매,여행,음식_주문,맛집_추천_예약,쇼핑,헬스,전자지갑,청소_가사노동,부동산,병원_약국_의약품_검색,중고거래
0,0,0,1,1,0,0,1,1,0,1,0,0,0,1,0,1,0,0
1,0,1,1,1,0,0,1,1,1,1,1,1,1,1,0,0,0,0
2,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,1,1,0,0,0,0,1,1,1,0,0,0,0
4,0,1,1,1,0,1,1,0,1,1,0,1,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68436,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
68437,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
68438,0,0,1,1,0,1,1,0,0,0,1,0,0,1,0,0,0,1
68439,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
68440,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1

In [49]:
y.sum()

K-POP_아이돌       15473
게임              20326
사진_촬영           35735
방송_영상           35400
웹툰              15408
검색_포털           32030
금융              36799
예매              14823
여행              17737
음식_주문           27242
맛집_추천_예약         8726
쇼핑              29408
헬스              10452
전자지갑            21991
청소_가사노동          1240
부동산              6603
병원_약국_의약품_검색     8920
중고거래            22267
dtype: int64

In [50]:
y.sum().sum()

360580

In [51]:
X

      성별  나이            결혼  월_소득 거주지역
0      F  30       미혼 / 비혼   600   서울
1      M  40            기혼   600   경기
2      F  20       미혼 / 비혼   200   인천
3      M  50  기타(이혼, 사별 등)   100   경기
4      M  30       미혼 / 비혼   400   경기
...   ..  ..           ...   ...  ...
68436  F  30  기타(이혼, 사별 등)   500   충남
68437  F  20       미혼 / 비혼   100   서울
68438  F  60            기혼   300   경기
68439  M  30       미혼 / 비혼   300   경남
68440  M  30            기혼   600   경기

[64024 rows x 5 columns]

In [52]:
X['거주지역'].nunique()

17

In [53]:
sorted(X['성별'].unique())

['F', 'M']

In [54]:
X_label_encoder= LabelEncoder()
X['성별'] = X_label_encoder.fit_transform(X['성별'])

In [55]:
onehot_encoder = OneHotEncoder()

In [56]:
ct = ColumnTransformer(transformers=[ ('onehot', onehot_encoder, ['결혼', '거주지역'] ) ], remainder='passthrough')

In [57]:
X_encoded = ct.fit_transform(X)

In [58]:
X_encoded

<64024x23 sparse matrix of type '<class 'numpy.float64'>'
	with 291327 stored elements in Compressed Sparse Row format>

In [59]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64024 entries, 0 to 68440
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   K-POP_아이돌     64024 non-null  int64
 1   게임            64024 non-null  int64
 2   사진_촬영         64024 non-null  int64
 3   방송_영상         64024 non-null  int64
 4   웹툰            64024 non-null  int64
 5   검색_포털         64024 non-null  int64
 6   금융            64024 non-null  int64
 7   예매            64024 non-null  int64
 8   여행            64024 non-null  int64
 9   음식_주문         64024 non-null  int64
 10  맛집_추천_예약      64024 non-null  int64
 11  쇼핑            64024 non-null  int64
 12  헬스            64024 non-null  int64
 13  전자지갑          64024 non-null  int64
 14  청소_가사노동       64024 non-null  int64
 15  부동산           64024 non-null  int64
 16  병원_약국_의약품_검색  64024 non-null  int64
 17  중고거래          64024 non-null  int64
dtypes: int64(18)
memory usage: 9.3 MB

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.25, random_state=17)

In [61]:
y_train.shape

(48018, 18)

In [62]:
y_train.sum()

K-POP_아이돌       11638
게임              15222
사진_촬영           26917
방송_영상           26617
웹툰              11499
검색_포털           24192
금융              27685
예매              11161
여행              13326
음식_주문           20449
맛집_추천_예약         6542
쇼핑              22189
헬스               7914
전자지갑            16535
청소_가사노동           954
부동산              4970
병원_약국_의약품_검색     6719
중고거래            16769
dtype: int64

In [63]:
y_train.shape[0] - y_train.sum()

K-POP_아이돌       36380
게임              32796
사진_촬영           21101
방송_영상           21401
웹툰              36519
검색_포털           23826
금융              20333
예매              36857
여행              34692
음식_주문           27569
맛집_추천_예약        41476
쇼핑              25829
헬스              40104
전자지갑            31483
청소_가사노동         47064
부동산             43048
병원_약국_의약품_검색    41299
중고거래            31249
dtype: int64

In [64]:
from sklearn.ensemble import RandomForestClassifier

In [65]:
model = RandomForestClassifier()

In [66]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [67]:
y_pred = model.predict(X_test)

In [68]:
error = y_test - y_pred

In [69]:
mse = (error**2).mean()

In [70]:
rmse = np.sqrt( (error**2).mean() )

In [71]:
mse

K-POP_아이돌       0.251781
게임              0.336124
사진_촬영           0.438336
방송_영상           0.433712
웹툰              0.257091
검색_포털           0.464513
금융              0.415469
예매              0.237973
여행              0.288079
음식_주문           0.403224
맛집_추천_예약        0.140260
쇼핑              0.435774
헬스              0.163751
전자지갑            0.362614
청소_가사노동         0.018243
부동산             0.103461
병원_약국_의약품_검색    0.142259
중고거래            0.367862
dtype: float64

In [72]:
rmse

K-POP_아이돌       0.501777
게임              0.579762
사진_촬영           0.662069
방송_영상           0.658568
웹툰              0.507042
검색_포털           0.681552
금융              0.644569
예매              0.487825
여행              0.536730
음식_주문           0.634999
맛집_추천_예약        0.374513
쇼핑              0.660132
헬스              0.404662
전자지갑            0.602174
청소_가사노동         0.135067
부동산             0.321654
병원_약국_의약품_검색    0.377173
중고거래            0.606516
dtype: float64

In [73]:
import joblib

In [74]:
joblib.dump(model,'model.pkl')

['model.pkl']

In [75]:
joblib.dump(ct,'ct.pkl')

['ct.pkl']

In [76]:
joblib.dump(X_label_encoder,'X_label_encoder.pkl')

['X_label_encoder.pkl']

In [77]:
y_test.sum().sum()

89282

In [78]:
y_pred.sum()

65832